.about {
    background-color: #1f2937;
    color: #ffffff;
    margin: 0 24px;
    border-width: 2px;
    border-color: #06b6d4;
}

.aboutMe {
    text-align: center;
    margin: 0 15%;
}

h2 {
    text-decoration: underline;
    font-size: 28px;
    font-weight: 500;
    margin: 3% 0;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 0 3% 3% 3%;
    padding-bottom: 8%;
    gap: 5%;
}

#projectDetail {
    border: 1px solid transparent; 
    border-image: linear-gradient(to right, gray, transparent);
    border-image-slice: 1;
    border-radius: 10px;
    padding: 5% 3%;
    position: relative;
}

#comaPic {
    position: absolute;
    top: -3%;
    left: 8%;
}

.projectDiv {
    display: flex;
    margin-top: 5%;
    align-items: center;
    gap: 3%;
}

#projectPic {
    border-radius: 60%;
    object-fit: cover;
    width: 15%;
    height: 40%;
}

.skills {
    margin: 0 0 2% 4%;
}

.skillsList {
    display: flex;
    justify-content: center;
    gap: 2%;
}

#workBtn {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    padding: 3px 7px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .about {
        margin: 0 4px;
    }

    .projects {
        grid-template-columns: 100%;
        margin-top: 5%;
        padding-bottom: 100%;
        gap: 3%;
    }

    .skillsList {
        display: flex;
        flex-direction: column;
    }

    #workBtn {
        margin: 2% 5%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .projects {
        grid-template-columns: 100%;
        margin-top: 5%;
        padding-bottom: 43%;
        gap: 3%;
    }

    .skillsList {
        display: flex;
        flex-direction: column;
    }

    #workBtn {
        margin: 2% 5%;
    }
}
