.contact {
    background-color: #1f2937;
    color: #ffffff;
    margin: 0 24px;
    border-width: 2px;
    border-color: #06b6d4;
}

.contactDetail {
    margin: 3% 15%;
}

.contactDetail p {
    text-align: center;
}

fieldset {
    margin: 3% 35%;
}

input {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2% 23% 2% 5%;
    margin-bottom: 5%;
}

textarea {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2% 33% 2% 5%;
}

button {
    background-color: #06b6d4;
    margin: 0 35%;
    padding: 1% 15%;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .contact {
        margin: 0 4px;
    }

    .contactDetail {
        margin: 5% 10%;
    }

    fieldset {
        margin: 7% 0;
    }

    input {
        padding: 2% 5%;
    }

    textarea {
        padding: 2% 20% 2% 5%;
    }

    button {
        margin: 0;
        padding: 1% 15%;
    }
}

@media (min-width: 601px) and (max-width: 1280px) {
    .contactDetail {
        margin: 5%;
    }

    fieldset {
        margin: 3% 25%;
    }

    button {
        margin: 0 25%;
        padding: 1% 17%;
    }
}

@media (min-width: 1281px) and (max-width: 1536px) {
    button {
        margin: 0 35%;
        padding: 1% 12%;
    }
}
