.home {
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 70px;
    background-color: #1f2937;
    color: #ffffff;
    margin: 70px 24px 0 24px;
    padding: 20px 64px;
    border-width: 2px;
    border-color: #06b6d4;
}

.homeContent {
    margin-top: 56px;
    margin-left: 24px;
    order: 1;
}

.homeContent h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    
}

.homeContent h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 1;
    margin: 8px 0;
}

.homeContent span {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.typeAnimation {
    color: #06b6d4;
    font-size: 20px;
    line-height: 28px;
}

.homeContent p {
    margin-top: 16px;
}

.homeContent div {
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.homeContent button {
    margin-top: 24px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #06b6d4;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
}

.xshomeContent {
    display: none;
}

.homeProfile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
}

#upperdiv {
    background-color: #00FFFF;
    position: absolute;
    width: 177px;
    height: 125px;
    margin-bottom: 56px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    z-index: 30;
}

#myPic {
    position: absolute;
    bottom: 40%;
    margin-left: 16px;
    height: 208px;
    z-index: 40;
}

#lowerdiv {
    background-color: #00FFFF;
    position: absolute;
    width: 168px;
    height: 56px;
    margin-bottom: -128px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    z-index: 30;
}

@media (max-width: 600px) {
    .home {  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 52px 4px 0 4px;
        border-radius: 4px;
   }

   .homeContent {
    padding-top: 3%;
    order: 2;
    width: 100%;
    }

    .homeContent h3 {
        display: none;
    }

    .homeContent h1 {
        display: none;
    }

    .xshomeContent {
        display: block;
    }

    .xshomeContent h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;  
    }
    
    .xshomeContent h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 1;
        margin: 8px 0;
    }


    .homeProfile {
        margin-top: 40%;
        order: 1;
    }

    #myPic {
        bottom: 34%;
    }
}

@media (min-width: 601px) and (max-width: 640px) {
    .home {
        grid-template-columns: 50% auto;
        padding: 20px 6px;
        margin-top: 54px;
    }

    .homeContent h1 {
        font-weight: 500;
        font-size: 28px;
    }
}

@media (min-width: 641px) and (max-width: 1600px) {
    .home {
        margin-top: 49px;
    }
}
